.box-model-properties{
    border: 1px #1A5C71 solid;
    margin: 20px 0px;
    padding: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.titel{
    text-align: center;
    color: #1A5C71;
    font-weight: lighter;
}
.subtitel{
    text-align: center;
    color: #1A5C71;
    font-weight: 2400;
}

.ondertitel{
    text-align: center;
    color: gray;
    font-weight: lighter;
    border: 1px #1A5C71 dotted;
}

.tekst{
    color: gray;
    font-size:12px;
    text-align: justify;
    border: 1px #1A5C71 dotted;
    padding: 5px;
}

.navigationbar li{
 display:inline;
 margin: 10px;
}

.tekst h3{
    text-align: left;
    color: #1A5C71;
    font-weight: lighter;
}

.displayed{
    display:block;
    margin: auto;

}
@media(min-width: 1024px){
    .box-model-properties{
        background-color: rgb(161, 238, 232);
        line-height: 2;
    }
}
    